html {
  font-style: normal;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  color: #FFFFFF;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}
