@use '../../abstracts/variables' as *;
@use '../../abstracts/mixins' as *;
@use "sass:math";

.team-header__wrapper {
  position: relative;

  & .container {
    padding-bottom: 50px;
  }

  .team-header {
    position: relative;
  }

  .header {
    .breadcrumbs_team {
      display: flex;
    }

    .header__menu {
      .menu-item {
        & a:hover {
          color: $accent-color;
        }

        &:hover::after {
          content: '';

          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;

          display: none;
          height: 2px;

          background-color: $accent-color;

          @include tablet-sd {
            display: flex;
          }
        }
      }

      .is-active_team {
        color: $accent-color;

        &::after {
          content: '';

          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;

          display: none;
          height: 2px;

          background-color: $accent-color;

          @include tablet-sd {
            display: flex;
          }
        }
      }
    }
  }
}